body {
    min-width: 300px;
    min-height: 400px;
}
h1 {
    font-size: 1.75rem;
    font-family: "Century Schoolbook";
    align-content: center;
    text-transform: uppercase;
}
p {
    font-size: 0.75rem;
    font-family: "Century Schoolbook";
    align-content: center;
}
div.gcse-search {
    min-height: 400px;
}
div.about {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
}
.bold {
    font-weight: bold;
}
table {
    margin-left: auto;
    margin-right: auto;
}
td.bold {
    text-align: left;
}
