body {
    min-width: 300px;
    min-height: 400px;
}
h1 {
    font-size: 1.75rem;
    font-family: "Century Schoolbook";
    align-content: center;
    text-transform: uppercase;
}
div.gcse-search {
    min-height: 400px;
}
